doc/build
doc/examples
_as_gen
__pycache__
*.pyc
*.egg-info
.tox/
.cache/
*.code-workspace
examples/.ipynb_checkpoints/
examples/scratch_pad/.ipynb_checkpoints/
examples/issue461.py
examples/macd.py
examples/mpf_demo2.py
examples/price-movement_plots.retcalcvals.ipynb
examples/scratch_pad/comp.csv
examples/scratch_pad/issue466.py
examples/scratch_pad/issues/.ipynb_checkpoints/
examples/scratch_pad/issues/issue430.orig.py
examples/scratch_pad/issues/issue430.py
examples/scratch_pad/issues/issue455/
examples/scratch_pad/issues/issue487_pie_chart.ipynb
examples/scratch_pad/so70145937.ipynb
examples/scratch_pad/so70240809.ipynb
examples/scratch_pad/so70418851.py
examples/scratch_pad/so70418851_data.csv
examples/scratch_pad/so70498007.ipynb
